<template>
    <ThePageContainer :pageHeading="dto.screenTitle">
        <!-- @@TODO : Enter your code here -->
    </ThePageContainer>
</template>

<script lang="ts">
import { Vue } from "vue-property-decorator";
import { Component } from "vue-class-component";
import { <% screen %>DTO } from "@/dto/<% screen %>/<% screen %>DTO";
import { <% screen %>Data } from "@/data/<% screen %>/<% screen %>Data";

@Component({
})
export default class <% screen %> extends Vue {
    public dto = new <% screen %>DTO();
    public data = new <% screen %>Data();

//    beforeDestroy() {
//        this.dto = null;
//        delete this.dto;
//        this.data = null;
//        delete this.data;
//    }
}  
</script>